<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/my_styles.css">

  <style>
          
  </style>
  <link rel="stylesheet" href="/my_styles.css">

  <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap" rel="stylesheet">

</head>

<body>


<form>
  <div class="form-group">
    <label for="useremail">Email address</label>
    <input type="email" class="form-control" id="useremail" aria-describedby="emailHelp">
  </div>
</form>

<div>
</div>

<div class="row centered">
    <div class="one-third">
      <a class="pinkbutton" href ="/tracked">
        <h2>
        <p class="text-muted">
          Today is Day One of my Nuva Ring Cycle
        </p>
        </h2>
      </a>
    </div>
  </div>

</body>

