<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <div>
    <a href ="/tracked" style ="border: 3px blue solid; padding-top: 5x; padding: 5px 15px 5px 15px; border-radius: 5px">
      Today is Day One of my Nuva Ring Cycle
    </a>
  </div>

</body>

