<!DOCTYPE html>

<html>
  <head>
    <style>
      
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/minty/bootstrap.min.css">
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap" rel="stylesheet">

  </head>
  <body class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form>
            

            <a class="btn btn-block btn-large btn-info" href="/" role="button">
              <h3 style ="color:white";>
                Reminder Sent!
              </h3>
            </a>
          
          </form>

        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-2">
        </div>
      </div>
    </div>
  </body>
</html>